.btn {
	display: flex;
	width: 300px;
	justify-content: space-between;
}
.btn button {
	border-radius: 5px;
	border: 1px solid black;
	font-size: 16px;
	padding: 5px;
}
.btn button:hover {
	cursor: pointer;
	background: rgb(90, 90, 90);
}
